body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color:darkred;
}

a:hover {
    color:black;
    text-decoration: underline;
}

/* pseudo-classe */
a:active {
    color: green;
}

.especial {
    background-color: rgb(248, 151, 151);
}

/* pseudo-elemento*/
.especial::before {
    content: '« ';

}

.especial::after {
    content: ' » ';

}

