body {
    background-color: #02735E;
    color: white;
}

.container1 {
    display: flex; /* Flexbox */
    justify-content: flex-start; /* Modifica a distribuição dos flex-itens na direção do main axis */

}

/* Estilo das caixas */
.container1 > div {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    border: 3px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container1 > div:hover {
    opacity: 0.3;
}

.container2 {
    display: flex; /* Flexbox */
    justify-content: flex-end; /* Modifica a distribuição dos flex-itens na direção do main axis */

}

/* Estilo das caixas */
.container2 > div {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    border: 3px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container2 > div:hover {
    opacity: 0.3;
}

.container3 {
    display: flex; /* Flexbox */
    justify-content: center; /* Modifica a distribuição dos flex-itens na direção do main axis */

}

/* Estilo das caixas */
.container3 > div {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    border: 3px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container3 > div:hover {
    opacity: 0.3;
}

.container4 {
    display: flex; /* Flexbox */
    justify-content: space-between; /* Modifica a distribuição dos flex-itens na direção do main axis */

}

/* Estilo das caixas */
.container4 > div {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    border: 3px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container4 > div:hover {
    opacity: 0.3;
}

.container5 {
    display: flex; /* Flexbox */
    justify-content: space-evenly; /* Modifica a distribuição dos flex-itens na direção do main axis */

}

/* Estilo das caixas */
.container5 > div {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    border: 3px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container5 > div:hover {
    opacity: 0.3;
}

.container6 {
    display: flex; /* Flexbox */
    justify-content: space-around; /* Modifica a distribuição dos flex-itens na direção do main axis */

}

/* Estilo das caixas */
.container6 > div {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 3px;
    border: 3px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container6 > div:hover {
    opacity: 0.3;
}