@charset "UTF-8";

* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 1rem;
   
}

.wrapper div {
    display: flex;
    background-color: #327337;
    color: white;
    align-items: center;
    justify-content: center;
}

.wrapper div:nth-child(2n) {
    background-color: #77D986;
    text-align: center;
    color: black;
}

.wrapper div:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/3;
}

.wrapper div:nth-child(2) {
    grid-row: 2/4;
    grid-column: 2/4;
}

.wrapper div:nth-child(3) {
    grid-row: 3/5;
    grid-column: 3/5;
}

