body {
    background-color: #02735E;
}

body.container {
    display: flex; /* Flexbox */
    flex-flow: column nowrap;
    min-height: 100vh;

}

.content {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.30);
    color:white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px;
}

.header {
    background-color: rgba(255, 255, 255, 0.30);
    color:white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
}

.main {
    background-color: rgba(255, 255, 255, 0.30);
    color:white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    flex: 1;
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.30);
    color:white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    order: -1;
    flex-basis: 150px;
}

.ads {
    background-color: rgba(255, 255, 255, 0.30);
    color:white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    flex-basis: 150px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.30);
    color:white;
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 999px) {
    .content {
        flex-flow: column nowrap;
    }

    .main {
        order: -1;
    }
}