body {
    background-color: #02735E;
    color: white;
}

.container {
    display: flex; /* Flexbox */
    border: 3px solid white;
    width: 400px;

}

/* Estilo das caixas */
.container > div {
    background-color: rgba(255, 255, 255, 0.30);
    border: 3px solid #fff;
    color: #fff;
    margin: 0;
    padding: 20px 0;
    width: 150px;
    text-align: center;
    transition: all 150ms ease;
    flex-shrink: 1; /* Valor padrão do flex-shrink*/
    
}

.container div:nth-child(1){
    flex-shrink: 1; /* Faz o flex-item diminuir seu tamanho */
}
.container div:nth-child(2){
    flex-shrink: 3; /* Faz o flex-item diminuir seu tamanho */
}
.container div:nth-child(3){
    flex-shrink: 2; /* Faz o flex-item diminuir seu tamanho */
}
.container div:nth-child(4){
    flex-shrink: 1; /* Faz o flex-item diminuir seu tamanho */
}

.container > div:hover {
    opacity: 0.3;
}